/*@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');*/
*{
    margin:0px;
    padding:0;
    box-sizing: border-box;
}

:root{--height:400px;
      --width:400px;
}

main{
    background:linear-gradient(to bottom, black,rgb(19, 19, 105));
    min-height:100vh;
    display:flex;
    align-items: center;
    justify-content:center;
    font-family: 'Times New Roman', sans-serif;
}

.container, .container1{
    min-height: var(--height);
    width:var(--width);
    position:relative;
    text-align: center;
}


section{ min-height:var(--height);
    width:var(--width); 
    background:rgba(255, 255, 255,0.1);
    border-radius:1rem;
    border:1px solid rgba(255, 255, 255,0.5);
    box-shadow:0 25px 45px  rgba(0, 0, 0, 0.5);
    padding:3rem;
}

.title{
    width:300;
}

.title h1{
color:aliceblue;
font-weight:600;
font-size:2rem;
opacity:0.9;
margin-bottom:20px;
position: relative;
text-align: center;
}

.title h1::before{
    content:"";
   position: absolute;
    left:50px;
    bottom:-10px;
    width:200px;
    height:4px;
    background-color:#fff;
}

.title .t2::before{
    content:"";
    position:absolute;
    left:9px;
    bottom:-10px;
    width:280px;
    height:4px;
    background-color:#fff;
    
}
form{
    padding:1px;
}

form .INF{
    width:100%;
    margin-top:20px;
}

form .INF input{
    width: 300px;
    background:rgba(255, 255, 255,0.1);
    border: 1px solid rgba(255, 255, 255,0.1);
    outline:none;
    padding:10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    letter-spacing: 1px;
    color:aliceblue;
    transition:all 0.2s ease;
}
form .INF input:hover{
    transform:scale(1.1);
}


form .INF input[type='submit']{
    background: rgba(255, 255, 255,0.3);
    font-weight: 700;
    color: aliceblue;
    margin-bottom:20px;
    cursor:pointer;
    transition: all 0.3s ease;
}

form .link-text{
    color: rgba(255, 255, 255,0.5);
    margin-top:15px;
    font-size:0.85rem;
}

form .link-text a{
   text-decoration: none;
   color:rgba(255, 255, 255,0.5);
   font-weight: 700;
   cursor:pointer;
}

form .field .error input{
    border-color:#dc3545;
}

.field .INF i{
    position: absolute;
    top: 50%;
    font-size: 18px;
    pointer-events: none;
    transform: translateY(-50%);
}

form .field .error-txt{
    color: #dc3545;
    margin-top: 5px;
    text-align: left;
}

form .field .error{
    display: none;
}

form .field{
    width: 100%;
    margin-bottom: 20px;
}

form .field.shake{
    animation : shake 0.3s ease-in-out;
}

@keyframes shake {
    0%, 100%{
        margin-left: 0px;
    }
    20%, 80%{
       margin-left: -12px ;
    }
    40%, 60%{
        margin-left: 12px;
    }
}

form .field .INF{
    position: relative;
    width:100%;
    height:50px;
}

form .field.shake input, 
form .field.error input{
    border-color: #dc3545;
}

.INF .icon{
    left: 15px;
    color:#dc3545;
}

form.field.shake input:focus ~ .icon, 
form .field.error input:focus ~ .icon{
    color:#bfbfbf;
}

form .field.shake .error, 
form .field.error .error{
    display:block;
}

form .field input:focus,
form .field.valid input{
  border-color:rgba(255, 255, 255,0.1);
}

::selection{
    color: #fff;
    background: rgba(255, 255, 255,0.1);
}
  