* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    background-color: #232323;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    width: 360px;
    height: 480px;
    perspective: 1500px;
    position: relative;
    background: #232323;
    
}
#chk {
    display: none;
}

@keyframes animate {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(180deg); }
}

#chk:checked ~ .content {
    animation: animate 2s;
    transform: rotateY(180deg);
}


.content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    transition: transform 1s cubic-bezier(0, 0, 0, 0.5);
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
}

.front, .back {
    width: 100%;
    height: 100%;
    background:#45f3ff;
    transform-style : preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
}

.back {
    transform: rotateY(180deg);
}


.inner {
    height: 100%;
    padding: 1.5em;
    transform: translateZ(80px) scale(1);
}

h2 {
    position: absolute;
    top: 50px;
    left: 30px;
    font-size: 28px;
    color: rgb(25, 156, 117);
    font-weight: bold;
}

p {
    font-size: 15px;
    padding: 5px;
    margin-top: 60px;
    text-align: justify;
    line-height: 1.2em;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 95%;
    height: 40px;
    padding: 15px;
    margin: 10px 8px;
    box-sizing: border-box;
    color: black;
    background-color: rgba(127, 9, 9, 0.292);
    border: none;
    outline: none;
    border-radius: 4px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder {
    color: #6a6370;
}
.front label{
    display: inline-block;
    padding: 8px 6px;
    font-size: 16px;
    color: red;
    float: none;
    cursor: pointer;
}
    
.back label{
    display: inline-block;
    position: absolute;
    bottom: 40px;
    width: 90%;
    font-size: 15px;
    text-align: center;
    color: red;
    cursor: pointer;
}
    
button{
    display: inline-block;
    position: absolute;
    right: 30px;
    width: 82%;
    padding: 7px;
    color: aqua;
    background: red;
    text-align: center;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .3s;
}
    
.front button {
    display: inline-block;
    bottom: 10%;
}
    
.back button{
    display: inline-block;
    bottom: 15%;
} 
